
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background: linear-gradient(180deg, #000 0%, #094a5b 100%);
    color: white;
    margin: 0;
    padding: 0; /* Eliminar el margen predeterminado del body */
}

header {
    width: 100%; /* Ocupar todo el ancho de la pantalla */
    overflow: hidden; /* Evitar que la imagen se desborde horizontalmente */
    background-color: #073E4C;
    padding: initial;
}

.img-header {
    width: 100%; /* La imagen ocupa todo el ancho del header */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
    display: block; /* Evitar espacios en blanco debajo de la imagen */

}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    color: #FFF;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.379);
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

#intro {
    display: flex;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-style:normal;
    font-weight: 800;
    line-height: normal;
    padding: 20px;
}

.contenedor {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background: #091012;
    
    
}

.seccion {
    background-color: #052A34;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: #ffffff solid 2px;
}

h5 {
    color: white;
    margin: 0px;
    font-size: 18px;
    font-weight: 700;
}
ul.crono1 {
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}

ul.crono1 li {
    margin: 10px 5px 10px 10px;
}
ul.crono2 {
    padding-left: 20px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;

}

ul.crono2 li {
    margin: 20px 5px 20px 10px;
}
.azules {
    width: 100%; 
    height: 150px; 
    display: block; 
    align-items: center;
    border: #ffffff solid 2px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.seccion-oms {
    background-color: #052A34;
    padding: 10px;
    text-align: center;
    border-radius: 17px;
    background: #031419;    
}

.cont-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: linear-gradient(180deg, rgba(6, 49, 60, 0.49) 0%, rgba(55, 214, 255, 0.53) 49.48%, rgba(7, 54, 65, 0.40) 100%);
    
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler-icon {
    transition: transform 0.3s ease;
}

/* Estilo para el botón cuando está abierto */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: rotate(90deg);
}